<md-toolbar>
    <span class="center-header">You're On Your Way</span>
</md-toolbar>

<div *ngIf="directions; else loader" class="container">
    <md-card class="limit-width">
	<md-card-header>
	</md-card-header>
	<app-compass [rotation]="directions.compass"></app-compass>
	<md-card-content>
	    <div class="container">
		<p>
		    Distance: {{ directions.distance | number:'1.1-1' }} meters
		</p>
	    </div>
	</md-card-content>
	<md-card-actions class="container">
	    <a *ngIf="closeEnough; else updateButton" [routerLink]="['/bulletin', target.key]" class="example-spacer animated swing" md-button>
		Bulletin
	    </a>
	    <ng-template #updateButton>
		<button  (click)="onManualUpdate()" class="example-spacer animated swing" md-button>
		    Update
		</button>
	    </ng-template>
	    <button class="example-spacer" (click)="onOpenSettings()" md-button>Settings and Help</button>
	</md-card-actions>
    </md-card>
</div>

<ng-template #loader>
    <div class="directions-spinner"></div>
</ng-template>
