<md-toolbar>
    <span class="center-header">You're On Your Way</span>
</md-toolbar>

<div class="container">
    <md-card class="limit-width">
	<md-card-header>
	</md-card-header>
	<img md-card-image src="assets/compass-detailed.svg">
	<md-card-content>
	    <div class="container">
		<p>
		    Distance: 200 meters
		</p>
	    </div>
	</md-card-content>
	<md-card-actions class="container">
	    <a class="example-spacer" routerLink="/bulletin" md-button>Update</a>
	    <a class="example-spacer" routerLink="/help" md-button>Settings and Help</a>
	</md-card-actions>
    </md-card>
</div>
