<md-toolbar>
    <span class="center-header">Bulletin Board</span>

    <md-toolbar-row *ngIf="target">
	<span class="center-header">
	    {{ target.position.lat }}&deg;, {{ target.position.lng }}&deg;
	</span>
    </md-toolbar-row>
</md-toolbar>

<div *ngIf="target; else loader" class="container">
    <!-- todo: this should fill remaining vertical space, if available -->
    <md-card class="limit-width">
	<md-card-header>
	    <md-card-title class="center-header">
		There have been {{ target.totalVisitors }} visitors today at an average rate of {{ target.averageVisitorsPerHour }} visitors per hour.
	    </md-card-title>
	    <md-card-subtitle></md-card-subtitle>
	</md-card-header>
	<md-card-content>
	    <md-list
		*ngIf="posts"
		class="limit-height"
		infinite-scroll
		[infiniteScrollDistance]="2"
		[infiniteScrollThrottle]="500"
		(scrolled)="onScrolled()"
		[scrollWindow]="false">
		<h3 md-subheader>Visitors</h3>
		<md-list-item
		    *ngFor="let post of posts; let isLast = last"
		    (click)="openPostDialog(post)">
		    <img md-list-avatar [src]="post.pictureUrl || 'https://material.angular.io/assets/img/examples/shiba2.jpg'">
		    <h4 md-line>{{post.text}}</h4>
		    <div md-line style="display: flex;">
			{{post.timestamp | date}} 
			<span class="example-spacer"></span>
			<span>{{ post.finalDistance }} m</span>
		    </div>
		</md-list-item>
	    </md-list>

	</md-card-content>
	<md-card-actions class="container">
	    <a [routerLink]="['/post', key]" md-button class="example-spacer">Add Post</a>
	    <button md-button (click)="openShareDialog()" class="example-spacer">Share</button>
	</md-card-actions>
    </md-card>
</div>

<ng-template #loader>
    <div class="sk-cube-grid">
	<div class="sk-cube sk-cube1"></div>
	<div class="sk-cube sk-cube2"></div>
	<div class="sk-cube sk-cube3"></div>
	<div class="sk-cube sk-cube4"></div>
	<div class="sk-cube sk-cube5"></div>
	<div class="sk-cube sk-cube6"></div>
	<div class="sk-cube sk-cube7"></div>
	<div class="sk-cube sk-cube8"></div>
	<div class="sk-cube sk-cube9"></div>
    </div>
</ng-template>
