<md-toolbar>
    <span class="center-header">Bulletin Board</span>

    <md-toolbar-row>
	<span class="center-header">
	    {{ target.position.lat }}&deg;, {{ target.position.lng }}&deg;
	</span>
    </md-toolbar-row>
</md-toolbar>

<div class="container">
    <!-- todo: this should fill remaining vertical space, if available -->
    <md-card class="limit-width">
	<md-card-header>
	    <md-card-title class="center-header">
		There have been {{ target.totalVisitors }} visitors today at an average rate of {{ target.averageVisitorsPerHour }} visitors per hour.
	    </md-card-title>
	    <md-card-subtitle></md-card-subtitle>
	</md-card-header>
	<md-card-content>
	    <md-list
		class="limit-height"
		infinite-scroll
		[infiniteScrollDistance]="2"
		[infiniteScrollThrottle]="500"
		(scrolled)="onScrolled()"
		[scrollWindow]="false">
		<h3 md-subheader>Visitors</h3>
		<md-list-item *ngFor="let post of posts; let isLast = last">
		  <img md-list-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg">
		    <h4 md-line>{{post.text}}</h4>
		    <div md-line style="display: flex;">
			{{post.timestamp | date}} 
			<span class="example-spacer"></span>
			<span>{{ post.finalDistance }} m</span>
		    </div>
		</md-list-item>
	    </md-list>

	</md-card-content>
	<md-card-actions class="container">
	    <a [routerLink]="['/post', key]" md-button class="example-spacer">Add Post</a>
	    <button md-button class="example-spacer">Share</button>
	</md-card-actions>
    </md-card>
</div>


